{% extends 'gestion/base.html' %}
{% block content %}
<a href="{% url 'crear_orden' %}" class="btn">Registrar Nueva Orden</a>
<h2>Órdenes</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Mesa</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    {% for orden in ordenes %}
    <tr>
        <td>{{ orden.id }}</td>
        <td>{{ orden.cliente }}</td>
        <td>{{ orden.mesa }}</td>
        <td>{{ orden.estado_orden }}</td>
        <!-- REEMPLAZAR el bloque <td> de acciones por: -->
        <td>
    {% if orden.estado_orden != 'Facturada' and not orden.factura %}
        <a href="{% url 'editar_orden' orden.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'eliminar_orden' orden.id %}" class="btn-eliminar">Eliminar</a>
    {% else %}
        <span style="color:#5c5c5c; font-size:0.85rem;">Facturada</span>
    {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
